<div class="d-flex justify-content-center mt-5">
<div class="accordion w-50" id="accordionExample">
  <div class="modal fade" id="updatetodo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content" *ngIf="itemClicked != null">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">update todo</h5>
          <a type="button" (click)="hideModel()" data-bs-dismiss="modal"><i class="fal fa-times"></i></a>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
              <label for="recipient-name" class="col-form-label">Title</label>
              <input type="text" #modalTitle [attr.value]="itemClicked != null ? itemClicked.name : ''" class="form-control">
            </div>
            <div class="mb-3">
              <label for="message-text" class="col-form-label">Content</label>
              <textarea type="text" #modalContent ng-init="modalContent = itemClicked != null ? itemClicked.content : ''" [attr.placeholder]="itemClicked != null ? itemClicked.content : ''" class="form-control"></textarea>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" (click)="hideModel()" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" data-bs-dismiss="modal" (click)="onUpdate(modalTitle, modalContent)" class="btn btn-primary">Save</button>
        </div>
      </div>
    </div>
  </div>
  
        <div class="accordion-item">
          <div class="accordion-header d-flex justify-content-between mb-2">
            <h4 *ngIf="user$| async as user">
             Simple ToDo for {{user.username}} 
           </h4>
          <button id="headingOne" class="btn btn-outline-success" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <i class="fas fa-file-signature"></i>
         </button>
          </div>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body pt-2 pb-2">
             <h5 class="card-subtitle mb-2">title</h5>
             <div class="input-group mb-2">
          <span class="input-group-text" id="basic-addon1">@</span>
          <input #itemTitle type="text" class="form-control" placeholder="Title" aria-label="Username" aria-describedby="basic-addon1">
          </div>
          <h5 class="card-subtitle mt-4 pb-2">content</h5>
             <div class="input-group">
          <span class="input-group-text" id="basic-addon1">$$</span>
          <textarea #itemContent type="text" class="form-control" placeholder="Content" aria-label="Username" aria-describedby="basic-addon1"></textarea>
        </div>
          <div class="mt-3 d-flex justify-content-end">
            <button (click)="onAdd(itemTitle,itemContent)" class="btn btn-outline-primary d-flex justify-content-end"> <i class="fal fa-plus-square" style="font-size:20px;"></i></button>
          </div>
            </div>
          </div>
        </div>
        <div *ngIf="(noteItems$| async)?.length > 0;else other_content" class="card-footer mt-4">
          <ul class="list-group list-group-flush d-flex 
          ">
            <li *ngFor="let note of noteItems$ | async" 
            class="list-group-item d-flex pl-5 mb-2 justify-content-between">
            <input #isDone (change)="checkBoxOnChange(isDone, note)" [checked]="note.isDone" class="form-check-input mt-1 mr-5" type="checkbox" aria-label="Checkbox for following text input"/>
            <a data-bs-toggle="modal" (click)="onShowModal(note)" data-bs-target="#updatetodo" href="">{{note.name}}</a><button (click)="onDelete(note)" class="btn btn-outline-danger"><i class="far fa-trash-alt small"></i></button></li>
          </ul>
         </div>
      <ng-template #other_content>
         <div class="d-flex justify-content-center align-items-center">
          <img src="https://img.icons8.com/cotton/64/000000/note--v2.png"/> 
         </div>
        </ng-template>
  </div>   
</div>
<script>
  var exampleModal = document.getElementById('updatetodo')
exampleModal.addEventListener('show.bs.modal', function (event) {
  // Button that triggered the modal
  var button = event.relatedTarget
  // Extract info from data-bs-* attributes
  var recipient = button.getAttribute('data-bs-whatever')
  // If necessary, you could initiate an AJAX request here
  // and then do the updating in a callback.
  //
  // Update the modal's content.
  var modalTitle = exampleModal.querySelector('.modal-title')
  var modalBodyInput = exampleModal.querySelector('.modal-body input')

  modalTitle.textContent = 'update todo'

})
</script>
<!--
   <div class="card w-100">
          <div class="card-body">
      <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
             <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Simple TODO
      </button>
      </h2>
      </div>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <h5 class="card-subtitle mb-2 mt-2">title</h5>
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">@</span>
          <input type="text" class="form-control" placeholder="Title" aria-label="Username" aria-describedby="basic-addon1">
        </div>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
      </div>
      </div>
      </div>
    </div>
  <div class="card-footer">
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><a href="#">An item</a></li>
      <hr/>
      <li class="list-group-item">A second item</li>
      <hr/>
      <li class="list-group-item">A third item</li>
      <hr/>
    </ul>
   </div>
</div>
</div>
-->